@tailwind base;
@tailwind components;
@tailwind utilities;

.marquee {
  white-space: nowrap;
  animation: marquee 4s linear 1;
}

/* Animations */
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(-110%);
    visibility: visible;
  }
  50.1% {
    transform: translateX(-110%);
    visibility: hidden;
  }
  50.2% {
    transform: translateX(110%);
    visibility: hidden;
  }
  50.3% {
    visibility: visible;
  }
  100% {
    transform: translateX(0%);
  }
}
