@keyframes FadeInSlideUp { 
  0% {
    opacity: 0;
    transform: translate(0,100px);
  }
  100% {
    opacity: 1;
    transform: translate(0,0);
  }
}
@keyframes FadeIn { 
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

// Animate all Main-sections individually
.main section {
  animation: FadeInSlideUp .4s ease;
  animation-fill-mode: both;
}
.main section:nth-child(1) { animation-delay: .2s }
.main section:nth-child(2) { animation-delay: .25s }
.main section:nth-child(3) { animation-delay: .3s }
.main section:nth-child(4) { animation-delay: .35s }
.main section:nth-child(5) { animation-delay: .4s }
.main section:nth-child(6) { animation-delay: .45s }
.main section:nth-child(7) { animation-delay: .5s }
.main section:nth-child(8) { animation-delay: .55s }
.main section:nth-child(9) { animation-delay: .6s }
.main section:nth-child(10) { animation-delay: .65s }

// Animate all Sidebar-sections as one
.sidebar section {
  animation: FadeInSlideUp .4s ease;
  animation-delay: .4s;
  animation-fill-mode: both;
}