// Personal colors
$color-primary: rgb(242, 56, 90);
$color-primary-dark: rgb(131, 30, 48);
$color-white: rgb(255, 255, 255);
$color-dark: rgb(21, 21, 21);

// Company colors
$color-volst: rgb(13, 13, 13);
$color-volst-light: rgb(200, 200, 200);
$color-skotty: rgb(22, 224, 160);
$color-baas: rgb(240, 23, 24);
$color-greenhousegroup: rgb(99, 0, 167);
$color-withlocals: rgb(10, 180, 238);

// Transparency
$color-dark-transparent: rgba(15, 15, 15, 0);
