@import "colors";

.form {
  display: flex;

  opacity: 1;
  height: 40px;

  transition: all ease .2s;

  input[type=text], input[type=email] {
    background: none;
    border: none;
    height: 32px;
    border-bottom: solid 1px $color-white;
    outline: none;
  }

  &.submitted {
    opacity: 0;
    height: 0;
    margin: 0;
  }
}
#formMessage {
  opacity: 0;
  height: 0;
  margin: 0;

  transition: opacity ease .2s;

  &.visible {
    opacity: 1;
    height: auto;
    margin: inherit;
  }
}