@import "colors";

// This timeline is brought to you by... Flexbox
.jobhistory {
  display: flex;
  height: 900px;

  .timeline {
    display: flex;

    .years {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      margin: 80px 0 10px 0;

      .year {
        display: flex;
        width: 60px;
        height: 20px;
        align-items: center;
        justify-content: space-between;

        .dot {
          width: 7px;
          height: 7px;

          background: $color-primary;
          border-radius: 100%;
        }
      }
    }
    .line {
      display: flex;
      flex-direction: column;
      align-items: center;

      height: 100%;
      width: 20px;

      // I have no shame
      margin-left: -14px;

      .bar {
        width: 20px;
        border-top: 1px solid $color-primary;
      }
      .dashes {
        height: 100%;
        border-left: 1px dotted $color-primary;
      }
    }
  }
  .jobs {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    flex: 1;

    .job-container {
      display: flex;
      margin-left: 10px;
      text-decoration-line: none;

      transition: margin ease .2s;

      .job-wrapper {
        flex: 1;

        .job {
          display: flex;
          margin-bottom: 5px;
    
          text-decoration-line: none;
          
          .bar, .text {
            height: 100%;
          }
    
          .bar {
            width: 10px;
            border-radius: 5px;
            background: $color-primary;
          }
    
          .text {
            flex: 1;
            padding: 5px 0 0 12px;
          }
        }
      }

      .arrow {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 15px;
        opacity: 0;

        transition: opacity ease .2s;
      }

      &:hover {
        cursor: pointer;
        margin-left: 20px;

        .arrow {
          opacity: 1;
        }
      }
    }
  }
}

// Job-item customizations
.jobs {
  #jobs-volst {
    .text, .arrow {
      color: $color-volst;
      h3, small {
        color: $color-volst;
      }
    }
    .bar {
      background: $color-volst;
      height: 100px;
      z-index: 1;
    }
  }
  #job-volst-1 {
    margin-top: 5px;
    height: 50px;
  }
  #jobs-skotty {
    .text, .arrow {
      color: $color-skotty;
      h3, small {
        color: $color-skotty;
      }
    }
    .bar {
      margin-top: -60px;
      height: 560px;
      background: $color-skotty;
    }
  }
  #job-skotty-1 {
    margin-top: 5px;
    height: 500px;
  }
  #jobs-baas {
    .text, .arrow {
      color: $color-baas;
      h3, small {
        color: $color-baas;
      }
    }
    .bar {
      background: $color-baas;
    }
  }
  #job-baas-1 {
    height: 75px;
  }
  #jobs-greenhousegroup {
    .text, .arrow {
      color: $color-greenhousegroup;
      h3, small {
        color: $color-greenhousegroup;
      }
    }
    .bar {
      background: $color-greenhousegroup;
    }
  }
  #job-greenhousegroup-1 {
    height: 45px;
  }
  #job-greenhousegroup-2 {
    height: 60px;
    margin-top: 40px;
  }
  #jobs-withlocals {
    .text, .arrow {
      color: $color-withlocals;
      h3, small {
        color: $color-withlocals;
      }
    }
    .bar {
      background: $color-withlocals;
    }
  }
  #job-withlocals-1 {
    height: 55px;
    margin-bottom: 60px;
  }
  #job-withlocals-2 {
    height: 60px;
  }
}
