@import "colors";

html, body {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  height: 100%;

  .main, .sidebar {
    height: 100%;
    
    overflow-y: auto;

    section {
      margin-bottom: 40px;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  .main {
    display: block;

    position: relative;

    flex: 2;
    max-width: 100%;

    overflow-y: auto;
    background: $color-white;

    transition: background ease .5s;

    .fader {
      display: flex;
      justify-content: flex-end;
      flex-direction: column;

      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;

      pointer-events: none;
      
      .fader-arrow {
        position: absolute;
        bottom: 40px;
        right: 40px;
        width: 18px;
        height: 12px;

        pointer-events: initial;
        cursor: pointer;

        opacity: 1;

        transition: opacity ease .2s;

        background: url('/assets/glyphs/arrow-down.svg');
        background-repeat: no-repeat;
        background-position: center center;

        &.hide {
          opacity: 0;
        }
      }

      .fader-bottom {
        height: 180px;
        width: 100%;
        background: linear-gradient(to top, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,0) 100%);
      }
    }
    .container {
      width: 100%;
      height: 100vh;
      overflow-y: auto;

      .inner {
        width: 635px;
        max-width: 100%;
        padding: 120px 40px 100px 120px;
      }
    }
  }

  .sidebar {
    display: flex;
    flex: 1;
    max-width: 100%;
    overflow-x: hidden;
    position: relative;

    .container {
      display: flex;
      flex-direction: column;

      flex: 0 0 auto;

      background: $color-primary;

      width: 100%;
      height: 100vh;
      padding: 80px 40px;

      overflow-y: auto;

      transition: background ease .5s;

      section:first-child {
        margin-top: auto;
      }

      section {
        position: relative;
        z-index: 1;
      }
  
      .form {
        display: flex;
  
        input {
          &:first-child {
            flex: 1 1;
          }
          &:not(:last-child) {
            margin-right: 12px;
          }
        }
      }

      #background-photo {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
  
        background-image: url('/assets/images/mees.jpg');
        background-size: cover;
        background-position: center center;
        opacity: 0;
        transition: opacity 1s ease;

        &.active {
          opacity: .3;
        }
      }
    }
  }

  &.modal-open {
    overflow-y: hidden;
  }

  &.theme-dark {
    .main {
      background: $color-dark;

      .fader-bottom {
        background: linear-gradient(to top, $color-dark 0%, $color-dark-transparent 50%, $color-dark-transparent 100%);
      }
    }

    .sidebar {
      .container {
        background-color: $color-primary-dark;
      }
    }
  }
}

* {
  box-sizing: border-box;
}