@import "colors";

// General styling
.sidebar .pages {
  display: flex;

  flex: 0 0 auto;
  width: 100%;

  .page {
    position: relative;
    display: block;
    
    flex: 0 0 auto;
    overflow-y: auto;
    
    .header {
      display: flex;
      justify-content: space-between;

      .close {
        display: flex;
        align-items: center;
        text-decoration-line: none;
        display: pointer;

        cursor: pointer;

        &.mobile {
          display: none;
        }
      }
    }

    hr {
      width: 50px;
      border: 0;
      border-bottom: 1px solid $color-white;
  
      margin: 40px 0;
    }
  }
}

// Per-page customizations
#job-detail-volst {
  background: $color-volst;
  .pill:hover {
    color: $color-volst;
  }
}
#job-detail-skotty {
  background: $color-skotty;
  .pill:hover {
    color: $color-skotty;
  }
}
#job-detail-baas {
  background: $color-baas;
}
#job-detail-greenhousegroup {
  background: $color-greenhousegroup;
}
#job-detail-withlocals {
  background: $color-withlocals;
}
#workwithme {
  background: $color-primary;
}
body.theme-dark {
  #job-detail-volst,
  #job-detail-skotty,
  #job-detail-baas,
  #job-detail-greenhousegroup,
  #job-detail-withlocals,
  #workwithme {
    background: $color-dark;
  }
  #workwithme {
    border-left: 5px solid $color-primary;

    h1, h2 {
      color: $color-primary;
    }
    .pill {
      color: $color-dark;
      background: $color-primary;
      border: 1px solid $color-primary;
    }
  }
  #job-detail-volst {
    border-left: 5px solid $color-volst;

    h1, h2 {
      color: $color-volst;
    }
  }
  #job-detail-skotty {
    border-left: 5px solid $color-skotty;

    h1, h2 {
      color: $color-skotty;
    }
  }
  #job-detail-baas {
    border-left: 5px solid $color-baas;

    h1, h2 {
      color: $color-baas;
    }
  }
  #job-detail-greenhousegroup {
    border-left: 5px solid $color-greenhousegroup;

    h1, h2 {
      color: $color-greenhousegroup;
    }
  }
  #job-detail-withlocals {
    border-left: 5px solid $color-withlocals;

    h1, h2 {
      color: $color-withlocals;
    }
  }
}