@import "colors";

.pill {
  display: inline-block;

  height: 32px;

  border: 1px solid $color-primary;
  border-radius: 32px;

  padding: 0 18px;
  margin-right: 12px;
  margin-bottom: 8px;

  background: none;

  text-decoration-line: none;
}
a.pill, input.pill {
  cursor: pointer;
  transition: background ease .2s;
  outline: none;

  &:hover {
    border-color: $color-white;
    background: $color-white;
  }
  &:focus {
    border-color: $color-white;
    background: $color-white;
  }
}
.main {
  .pill {
    border: 1px solid $color-primary;
  }

  a.pill, input.pill {
    &:hover {
      background: $color-primary;
    }
  }
}
.sidebar {
  .pill {
    border: 1px solid $color-white;
  }

  a.pill, input.pill {
    &:hover {
      background-color: $color-white;
      color: $color-primary;
    }
    &:focus {
      background-color: $color-white;
      color: $color-primary;
    }
  }
}