section#promo {
  overflow: hidden;
  margin-bottom: 0;
  transition: all ease .2s;
  height: 0;
  opacity: 0;

  &.show {
    display: block;
    margin-bottom: 40px;
    height: inherit;
    opacity: 1;
  }

  .promo-block {
    display: flex;
    flex-direction: column;

    padding: 20px;

    background: $color-primary;

    border-radius: 8px;

    .header {
      display: flex;
      justify-content: space-between;
    }

    p, h1, h2, .close {
      color: $color-white;
    }

    .close {
      cursor: pointer;
    }

    .pill {
      margin: 0 0 0 auto;

      color: $color-primary;
      background: $color-white;

      border: 0;
    }
  }
}
body.theme-dark {
  section#promo .promo-block {
    background: none;
    border: 1px solid $color-primary;

    p, h1, h2, .close {
      color: $color-primary;
    }

    .pill {
      color: $color-dark;
      background: $color-primary;
      border: 1px solid $color-primary;
    }
  }
}