@media only screen and (max-width: 1200px) {
  body {
    .main, .sidebar {
      width: 50%;
      flex: 1;
    }
    .sidebar {
      .container {
        section:first-child {
          margin-top: 0;
        }
      }
    }
    .main {
      .container {
        .inner {
          width: auto;
          padding: 80px 40px;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  body {
    display: initial;

    .main, .sidebar {
      width: 100%;
      min-height: 100%;
    }
    .sidebar {
      .pages {
        .page .header .close {
          &.mobile {
            display: flex;
            font-size: 44px;
          }
          &.desktop {
            display: none;
          }
        }
      }
    }
    .main {
      .fader {
        display: none;
      }

      .container {
        overflow: hidden;
        height: 100%;

        .inner {
          padding: 30px 30px;
        }
      }
    }
  }
}