@import "colors";

.reveal {
  line-height: 25px;
  a {
    text-decoration: none;
    border-bottom: 1px dotted $color-primary;

    &.clicked {
      border-bottom: none;
      cursor: default;
    }
  }
  span {
    animation: FadeIn .5s linear;
  }
  .hidden {
    display: none;
  }
}

.reveal-end {
  display: none;
  animation: FadeIn .5s linear;

  &.show {
    display: block;
  }
}