@import "colors";

@font-face {
  font-family: 'hk_groteskbold';
  src: url('/assets/font/hkgrotesk-bold-webfont.woff2') format('woff2'),
       url('/assets/font/hkgrotesk-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'hk_grotesklight';
  src: url('/assets/font/hkgrotesk-light-webfont.woff2') format('woff2'),
       url('/assets/font/hkgrotesk-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'hk_groteskmedium';
  src: url('/assets/font/hkgrotesk-medium-webfont.woff2') format('woff2'),
       url('/assets/font/hkgrotesk-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'hk_groteskregular';
  src: url('/assets/font/hkgrotesk-regular-webfont.woff2') format('woff2'),
       url('/assets/font/hkgrotesk-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'hk_grotesksemibold';
  src: url('/assets/font/hkgrotesk-semibold-webfont.woff2') format('woff2'),
       url('/assets/font/hkgrotesk-semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.main {
  * {
    color: $color-primary;
  }
}

h1, h2, h3, p, small, input, a, button {
  margin: 0;
  padding: 0; 
}

h1, h2, button {
  font-family: 'hk_groteskbold', sans-serif;
}

h1 {
  font-size: 36px;
  line-height: 58px;
  min-height: 60px;
}
h2 {
  font-size: 20px;
  line-height: 28px;
  min-height: 40px;
}
h3 {
  font-family: 'hk_groteskmedium', sans-serif;
  
  font-size: 16px;
  line-height: 18px;
  min-height: 18px;
}
p, li, small, .pill, input[type=text], input[type=email], button {
  font-family: 'hk_groteskregular', sans-serif;  
}
p, li, input[type=text], input[type=email] {
  font-size: 16px;
}
p {
  line-height: 20px;
  margin-bottom: 20px;
}
input[type=text], input[type=email] {
  line-height: 32px;

  ::placeholder{
    color: $color-white;
  }
}

ul {
  margin-top: 0;
  margin-bottom: 20px;

  ul {
    margin-bottom: 0;
  }
}

small {
  font-size: 12px;
  line-height: 20px;
}

.pill {
  font-size: 16px;
  line-height: 26px;
}

.sidebar {
  * {
    color: $color-white;
  }
}

.arrow {
  font-size: 32px;
  font-family: monospace;
  font-weight: normal;
}

.close {
  font-size: 32px;
}

button.circle {
  font-size: 16px;
}