doctype
html(lang="en")
  head
    title Mees Boeijen (@amees.me) - This is Mees' website
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(property='description', content='Software engineer* with a passion for user experience and sustainability. Founder of Skotty.')
    meta(property='og:url', content='https://amees.me/')
    meta(property='og:title', content='Mees Boeijen - This is Mees\' website')
    meta(property='og:description', content='Software engineer* with a passion for user experience and sustainability. Founder of Skotty.')
    meta(property='og:image', content='https://amees.me/assets/favicons/opengraph.png')

    link(rel='apple-touch-icon', sizes='180x180', href='/assets/favicons/apple-touch-icon.png')
    link(rel='icon', type='image/png', sizes='32x32', href='/assets/favicons/favicon-32x32.png')
    link(rel='icon', type='image/png', sizes='16x16', href='/assets/favicons/favicon-16x16.png')
    link(rel='manifest', href='/assets/favicons/manifest.json')
    link(rel='mask-icon', href='/assets/favicons/safari-pinned-tab.svg', color='#f2385a')
    link(rel='shortcut icon', href='/assets/favicons/favicon.ico')
    meta(name='apple-mobile-web-app-title', content='amees.me')
    meta(name='application-name', content='amees.me')
    meta(name='msapplication-config', content='/assets/favicons/browserconfig.xml')
    meta(name='theme-color', content='#f2385a')
    
    link(rel="stylesheet", href="./style/style.css")
    script(src="./js/script.js")
  body
    main.main
      .fader
        .fader-bottom
        .fader-arrow(onclick="scrollContainer();")
      .container
        .inner
          section#logo
            a(href="#start")
              img(src="./assets/logo/logo.svg", alt="Logo, symbolizing the letters A and M." width="80" height="80").logo
          section#introduction
            h1 This is Mees' website.
            p.reveal
              |Eindhoven-based 
              a(href="#" onClick="reveal(event, 'software-engineer')") software engineer*
              span.software-engineer  (self-proclaimed, never actually finished an engineer's degree),
              |  with a passion for 
              a(href="#" onClick="reveal(event, 'user-experience')") user experience
              span.user-experience , preferably getting involved early in a product's design lifecycle, 
              |  and 
              a(href="#" onClick="reveal(event, 'sustainability')") sustainability
              span.sustainability , actively striving to reduce my climate impact (including not flying, repairing instead of replacing and not eating animal products for over 10 years)
              |. 
              | Part of 
              a(href="#" onClick="reveal(event, 'volst')") Volst
              span.volst  as a full-stack software engineer, where we build award-winning digital experiences and applications
              |.
            
            p.reveal-end And that brings us to the end of my presentation. Thank you.
          section#jobs
            h2 Experience
            .jobhistory
              .timeline
                .years
                  .year
                    h3 2022
                    .dot
                  .year
                    h3 2021
                    .dot
                  .year
                    h3 2020
                    .dot
                  .year
                    h3 2019
                    .dot
                  .year
                    h3 2018
                    .dot
                  .year
                    h3 2017
                    .dot
                  .year
                    h3 2016
                    .dot
                  .year
                    h3 2015
                    .dot
                  .year
                    h3 2014
                    .dot
                .line
                  .bar
                  .dashes
                  .bar
              .jobs
                a(href="#job-detail-volst" onClick="openModal('#job-detail-volst', event)").job-container#jobs-volst
                  .job-wrapper
                    .job#job-volst-1
                      .bar
                      .text
                        h3 Volst
                        small Software Engineer and Partner
                  .arrow ›
                a(href="#job-detail-skotty" onClick="openModal('#job-detail-skotty', event)").job-container#jobs-skotty
                  .job-wrapper
                    .job#job-skotty-1
                      .bar
                      .text
                        h3 Skotty
                        small Founder and Lead Software
                  .arrow ›
                a(href="#job-detail-baas" onClick="openModal('#job-detail-baas', event)").job-container#jobs-baas
                  .job-wrapper
                    .job#job-baas-1
                      .bar
                      .text
                        h3 BAAS
                        small Front-end Developer
                  .arrow ›
                a(href="#job-detail-greenhousegroup" onClick="openModal('#job-detail-greenhousegroup', event)").job-container#jobs-greenhousegroup
                  .job-wrapper
                    .job#job-greenhousegroup-2
                      .bar
                      .text
                        h3 Greenhouse Group
                        small Fullstack Developer
                    .job#job-greenhousegroup-1
                      .bar
                      .text
                        small Intern Labs
                  .arrow ›
                a(href="#job-detail-withlocals" onClick="openModal('#job-detail-withlocals', event)").job-container#jobs-withlocals
                  .job-wrapper
                    .job#job-withlocals-2
                      .bar
                      .text
                        h3 Withlocals
                        small Intern Front-end Developer
                  .arrow ›
          section
            small
              | * = Actually never finished an engineer's degree, so not a true engineer.
          section
            p
    aside.sidebar
      .container#start
        section
          h2 Contact
          .pills
            a(href="https://www.linkedin.com/in/ameesme" target="_blank" rel="noopener noreferrer").pill LinkedIn
            a(href="https://www.twitter.com/amees_me" target="_blank" rel="noopener noreferrer").pill Twitter
            a(href="mailto:website@amees.me").pill website@amees.me
        #background-photo
      .pages
        .container.page#job-detail-volst
          .header
            h1 Volst
            .close.desktop(onClick="scrollSidebar('#start')") &times;
            .close.mobile(onClick="closeModal()") &times;
          h2 Software Engineer and Partner 
          p Volst is an Eindhoven-based software-studio focused on creating immersive and delightful app-experiences.
          small (05/2021 — Current)
          p
          a(href="https://volst.studio/" target="_blank" rel="noopener noreferrer").pill Visit Volst
          hr
        .container.page#job-detail-skotty
          .header
            h1 Skotty
            .close.desktop(onClick="scrollSidebar('#start')") &times;
            .close.mobile(onClick="closeModal()") &times;
          h2 Founder and Lead Software
          p Skotty is my first software-starup which enhances your business' online communication with clients, using interactive re-usable blocks. I am responsible for leading Skotty's software-development and business strategy.
          small (11/2016 — Current)
          p
          a(href="https://skotty.io/" target="_blank" rel="noopener noreferrer").pill Visit Skotty
          hr
        .container.page#job-detail-baas
          .header
            h1 BAAS
            .close.desktop(onClick="scrollSidebar('#start')") &times;
            .close.mobile(onClick="closeModal()") &times;
          h2 Front-end Developer
          p BaaS is an in-house software application built to assist in getting better insights in both online and offline media-campaigns.
          p During my employment, I worked on the transition to a new front-end application, while keeping the old application in place. This allowed us to make use of modern web-technologies while still providing a consistent user experience to our users.
          small 03/2016 — 11/2016
          hr
        .container.page#job-detail-greenhousegroup
          .header
            h1 Greenhouse Group
            .close.desktop(onClick="scrollSidebar('#start')") &times;
            .close.mobile(onClick="closeModal()") &times;
          h2 Fullstack Developer
          p Bean OpenLab was a platform that allowed businesses and students to collaborate on projects, allowing students to gather knowledge of things that interest them and businesses to gain valuable insights and creative solutions to real-world projects and problems.
          p I was working with a team to build a web-platform, responsible for leading the development of the front-end of the application, using technologies like Node.js, Jade and SASS.
          small 01/2015 — 09/2015
          hr
          h2 Intern Labs
          p During a half year, Ton and me researched the flaws and advantages of Google Glass as part of Greenhouse Group Labs, the department that is dedicated to innovation in online and offline media. After we learnt its flaws, we worked on developing a concept that might solve the roadblock of the mobile industry: Battery life.
          small 08/2014 — 01/2015
          hr
        .container.page#job-detail-withlocals
          .header
            h1 Withlocals
            .close.desktop(onClick="scrollSidebar('#start')") &times;
            .close.mobile(onClick="closeModal()") &times;
          h2 Intern Front-end Developer
          p During this internship, I developed new features for the Withlocals-platform and helped improving the general user experience by streamlining existing flows. I learned how to be a player in a development team and about web-development on a large scale. This has been an exhilarating internship.
          small 01/2014 — 09/2014
          hr
    script(src="./js/slimScroller.js")